html{
    
    background-image: url(bats.gif);
    background-repeat: repeat-y repeat-x;
    margin-top: 16px;
}
body {
    font-family: "Helvetica Neue", Arial, sans-serif;
    width: 800px;
    margin: 0 auto;
    background-color: white;
    border: 2px solid black;
    box-shadow: 5px 5px 5px 10px;
    border-top: none;
}
figure {
    width: 60px;
    margin-left: 30px;
    float: left;
    
}
header{
    background-image: linear-gradient(45deg,white,orange,black);
    border-bottom: 3px solid black;
}
header h2 b{
    font-size:40px;
}

header h2 h{
    
	font-size: 20px;
}

h4{
    font-size: 20px;
    margin-left: 30px;
}

h4 b{
    font-size: 50px;
}

h5{
    
    font-size: 20px;
    margin-left: 30px;
    
}

h5 b{
    font-size: 23px;
}

ul li {
	margin-left: 25px;
    padding-bottom: 3px;
}

ul li a:hover {
    color: green;
}

p{
    margin-left: 25px;
     
}

footer{
    text-align: center;
    border-top: 3px solid black;
    background-image: linear-gradient(45deg,black,orange,white);
}

